@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    min-width: 0;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .head-container {
    justify-content: space-between;
    height: 56px;
    padding: 0;
    margin: 0;
  }

  .container-nav {
    margin-right: 0;
  }

  .logo {
    margin: 0;
  }

  .logo-menu,
  .adress-style {
    display: none;
  }

  .btn-mobile-menu {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 0;
  }

  .section-one {
    height: 432px;
    padding: 0;
    margin: 0;
  }

  .hero-container {
    width: min-content;
    padding: 0;
    margin: auto;
  }

  .section-one-h-one {
    font-size: 36px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    width: 216px;
    padding: 72px 0;
    margin: 0 auto;
  }

  .section-two {
    padding: 96px 0;
  }

  .section-two-h-three {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    width: 288px;
  }

  .section-two-p {
    line-height: 24px;
    width: 288px;
    text-align: left;
    box-sizing: border-box;
    width: 283px;
    height: auto;
  }

  .section-three-h-two {
    margin: 0 0 72px 0;
  }

  .section-four-h-three {
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.32px;
    height: auto;
    text-align: center;
    min-width: 264px;
    box-sizing: border-box;
    text-align: left;
  }

  .section-two-card,
  .section-three-ul,
  .footer-container {
    flex-direction: column;
    gap: 72px;
    min-width: 320px;
    box-sizing: border-box;
  }

  .section-two-svg {
    display: none;
  }

  .section-two-card-info {
    box-sizing: border-box;
  }

  .section-three-ul {
    width: 100%;
    margin: 0 auto;
  }

  .section-three-li {
    width: max-content;
    height: 428px;
    padding: 0;
    align-items: center;
  }

  .section-three-li-name {
    padding: 32px 16px;
  }

  .section-three-h-three {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .section-three-p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .section-four-h-three {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .section-four {
    padding: 96px 0;
  }

  .section-four-ul {
    row-gap: 48px;
  }

  .section-four-li {
    width: max-content;
    height: 400px;
    margin: 0;
    align-items: center;
  }

  .section-four-li-img {
    width: 288px;
    margin: 0;
    padding: 0;
  }

  .section-four-li-info {
    width: 288px;
    padding: 32px 16px;
  }

  .section-four-hidden-p {
    width: 288px;
    margin: 0;
  }

  .section-four-p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .section-three {
    padding: 96px 0;
    min-width: 320px;
    align-items: center;
  }

  .footer {
    padding: 96px 0;
  }

  .footer-container {
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 72px;
  }

  .footer-container-logo {
    margin: 0;
    text-align: center;
    margin: 0 auto;
  }

  .footer-logo {
    margin: 0 auto 18px;
  }

  .footer-p {
    text-align: left;
  }

  .footer-container-link {
    margin: 0 auto;
  }

  .footer-link-p {
    text-align: center;
  }

  .footer-form,
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
