@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    min-width: 768px;
    padding: 0;
  }

  .mobile-menu {
    display: none;
  }

  .head-container {
    height: 72px;
    padding: 24px 16px;
  }

  .container-nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 115px;
    height: 24px;
    margin: 0;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .logo-menu {
    padding: 0 0 0 120px;
  }

  .adress-style {
    height: 40px;
    margin: 0;
  }

  .adress-info {
    flex-direction: column;
    row-gap: 12px;
  }

  .header-adress {
    width: 118px;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .curent {
    display: flex;
    width: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .section-one {
    padding: 112px 0;
  }

  .section-one-h-one {
    font-style: normal;
    letter-spacing: 1.12px;
    height: 120px;
  }

  .section-one-btn {
    padding: 36px auto 0;
  }

  .section-two {
    padding: 96px 16px;
  }

  .section-two-card {
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }

  .section-two-card-info {
    min-width: 356px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .section-two-svg,
  .s-two-svg-style {
    display: none;
  }

  .section-two-h-three {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .section-two-p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-align: justify;
  }

  .section-three {
    padding: 96px 0 32px 0;
  }

  .section-three-h-two {
    margin: 0;
  }

  .section-three-h-three {
    font-style: normal;
    letter-spacing: 0.4px;
  }

  .section-three-ul {
    padding: 72px 92px 0 92px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .section-three-li {
    display: inline-flex;
    flex-basis: 47%;
    min-height: 426px;
    padding-bottom: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-three-li > img {
    width: 100%;
    height: 100%;
  }

  .section-three-li-name {
    width: 90%;
  }

  .section-three-h-three {
    font-style: normal;
    letter-spacing: 0.4px;
    padding: 0;
    margin: 0;
  }

  .section-four {
    padding: 96px 16px;
  }

  .section-four-p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .section-four-ul {
    justify-content: space-evenly;
    row-gap: 72px;
  }

  .section-four-li {
    display: flex;
    min-height: max-content;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 356px;
  }

  .section-four-li-img {
    width: 356px;
    margin: 0;
    padding: 0;
  }

  .footer {
    display: block;
    width: 100%;
    padding: 0;
  }

  .footer-container {
    flex-wrap: wrap;
    padding: 0 0 0 108px;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-container-logo {
    margin-right: 0;
  }

  .footer-container-logo,
  .footer-container-link {
    min-width: 264px;
  }

  .footer-p,
  .footer-form-p {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  .footer-form-label {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    column-gap: 36px;
  }

  .footer-form {
    margin-left: 0;
  }
}
